Let's begin by understanding the fundamental data structures

In [1]:
mylist = [] # LIST ->.   [ ]
myset = { } # SET -> { }
tuple = ( ) # tuples -> ( )
mydictionary = { } # dictionary -> { }

In [2]:
mylist = [] # LIST ->.   [ ] => ORDERED, INDEXED
myset = { } # SET -> { } => UNORDERED, UNINDEXED
tuple = ( ) # tuples -> ( ) => READONLY, ORDERED, INDEXED
mydictionary = { } # dictionary -> { } => KEY VLAUE PAIRS => UNORDERED, INDEXED

In [3]:
# ORDER
mylist = [ 1, 2, False, 3.14, 42, 'hello world', True, 1.1, 1.0, 0.0, 3.1400000]
mylist

[1, 2, False, 3.14, 42, 'hello world', True, 1.1, 1.0, 0.0, 3.14]

In [4]:
# INDEX
print(mylist[0], mylist[-1]) # Pos -> left to right; Neg-> right to left

1 3.14

In [5]:
# NO ORDER!!!! NO DUPLICATES!!!
myset = {1, 2, False, 3.14, 42, 'hello world', True, 1.1, 1.0, 0.0, 3.1400000}
myset

{1, 1.1, 2, 3.14, 42, False, 'hello world'}

In [6]:
# NO INDEXING -> following block should give us an ERROR
myset[1]

TypeError: 'set' object is not subscriptable

In [7]:
# ORDERED, INDEXED collection
mytuple = (  1, 2, False, 3.14, 42, 'hello world', True, 1.1, 1.0, 0.0, 3.1400000 )
print(mytuple)
print(mytuple[-2])

(1, 2, False, 3.14, 42, 'hello world', True, 1.1, 1.0, 0.0, 3.14)
0.0

In [8]:
# READONLY -> following block should give an error

mytuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [12]:
# dictionary
names = ['John','Jim', 'Jane', "babloo", 'popye']
age = [10, 20, 10, 20, 99]

newdictionary = {
    'FirstName' : names,
    'Age' : age,
    'isHungry' : [False, False, True, False, True]
}
newdictionary

{'FirstName': ['John', 'Jim', 'Jane', 'babloo', 'popye'],
 'Age': [10, 20, 10, 20, 99],
 'isHungry': [False, False, True, False, True]}

In [13]:
# 3 types of data
# STRUCTURED --> schema present-> databases
# SEMI-STRUCTURED --> schema is loosely present --> NoSQL, JSON, XML
# UNSTRUCTURED --> schema is absent -> images, text, videos....

In [ ]:
# STRUCTURED DATASETS -> Numpy + Pandas
# SEMI-STRUCTURED -> Numpy + Pandas
# UNSTRUCTURED -> Numpy + NLP or Computer Vision Libraries